body {
    font-family: "Roboto";
    background: #1F2937;
    margin: 0;
}

.second-part, .header, 
.hero-container, .third-part, 
.fourth-part {
    padding-left: 19%;
    padding-right: 19%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.header {
    background: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
}

.right-links {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.left-links {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-container {
  justify-content: space-around;
  display: flex;
  gap: 60px;
  margin-bottom: 100px;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  background: grey;
  width: 50%;
  color: white;
}

.hero {
    width: 50%;
}

.hero-container h1 {
    font-size: 48px;
    margin-block-start:0;
    margin-block-end:0;
    color: white;
}

.hero-container p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}

.hero-container button {
    background: #3882f6;
    border-style: none;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}


.second-part {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 80px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.main {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background:white;
  }
  
.info {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: grey;
  }

.card-image {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    outline: 5px solid #3882f6;
}

.third-part {
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#quote {
    font-size: 36px;
    color: #1f2937;
}

.third-part p {
    text-align: end;
    font-weight: bold;
    padding-right: 10%;
    font-size: 22px;
}

.fourth-part {
    background: white;
    padding-top: 70px;
    padding-bottom: 70px;
}

.fourth-part .container {
    background: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

.fourth-part button {
    background: none;
    border-style: none;
    color: white;
    padding: 8px 25px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    outline: 3px solid white;
}

.fourth-part h3 {
    margin-block-end:0;
    font-size: 24px;
}

.fourth-part p {
    margin-block-start: 0;
    font-size: 18px;
    color: whitesmoke
}

.footer {
    text-align: center;
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}